* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(241,241,241);
background: radial-gradient(circle, rgb(147, 150, 166) 0%, rgba(10, 37, 61, 0.843) 54%);
  /* background-image: linear-gradient( 135deg, #291556 10%, #793da4 100%); */
  color: white;
  font-family: "Poppins", sans-serif;
  
  min-height: 100vh;
}
header {
  font-size: 1rem;
}

.App {
  text-align: center;
}

.plusbutton{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  border-radius: 200px;
  width: 30px;
  height: 30px;
  background-color:rgba(12, 172, 236, 0.895);
  
  color: rgb(255, 255, 255);
  font-size: 28px;
  border: none;
  justify-content: center;
 

}





.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: .8vh;
  /* background-color: rgba(0, 0, 255, 0.373); */
  /* position: fixed; */
  z-index: 100;
  width: 100%;
  backdrop-filter: blur(10px);
}



.Hero {
  width: 100%;
  height: 95vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notes-container{
  
  display: inline;
  
  box-shadow:rgba(0, 0, 0, 0.25) 0px 14px 28px,
  rgba(35, 34, 34, 0.22) 0px 10px 10px; ;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  
 
  
}

 .card-container{
  display: flex;
  flex-wrap: wrap;
  
 }

 @media only screen and (max-width: 650px){
  .card-container{
    justify-content: center;
  }
 }

 @media only screen and (max-width: 1095px){
  .card-container{
    justify-content: center;
  }
 }


.form {
  width: 150px;
}

.card {
  display: flex;
  background-color: rgba(236, 233, 250, 0.727);
  flex-direction: column;
  margin: 3%;
  align-items: center;
  justify-content: center;
  padding: 2px;;
  box-shadow:rgb(97, 184, 243) 0px 14px 28px,
  rgba(12, 172, 236, 0.895) 0px 10px 10px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bolder;  
  /* background-color: rgba(47, 58, 72, 0.612);  */
  padding: 19px;
  border-style: solid;
  border-color: #8ed1ebe1;
  border-radius: 10px;
  /* box-shadow: #15f8fbe0 0px 5px 15px; */
  min-width:300px;
  
 
}

.notes {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 2%;
  border-radius: 20px;
  /* background-color: hotpink; */
  justify-content: center;
  align-items: center;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px; ; 
     
}


.ant-form, ant-form-horizontal css-dev-only-do-not-override-qofb5{
  display: flex;
  align-items: center;
  justify-content: center;  
}

.logo1 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
/* width: 20vw; */
height: 29vh; 
}

.logo-container{
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  height: 30vh;
  
 
  /* width: 150vw;
  height: 150vh; */
}

.signup-page{
  width: 30%;
  background-color: rgba(44, 55, 70, 0.612);
  padding: 20px;
  border-style: solid;
  border-color: #a6ddf6e4;
  border-radius: 20px;
  box-shadow: #00fbfff0 0px 5px 15px;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;; */
  

  margin: 20px auto 20px auto;
  display: flex;
  flex-direction: column;
  
}

/* .form-container{
  display: flex; 
  margin: 5px;
  background-color: blue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.ant-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
padding-top: 20px;  

/* background-color: black; */
}



.formItem{
  margin: 20px;
  
}


[title = "Email"]{
  color: white !important;
}
[title = "Password"]{
  color: white !important;
}

.ant-btn{
  background-color: rgba(12, 172, 236, 0.895) !important;
}

.day-color{
  color:#317ba3;
  font-weight:bolder;
  /* text-decoration:line-through */
}
 
/* .edit-button{
  background-color: rgb(239, 205, 164);
 
 
    
} */

.sign-in-container {
 text-align: center;
 margin-top: 20px;
 display: flex;
 justify-content: space-evenly;
 width: 100%;
 /* background-color: red; */
 margin: auto;
}

/* .submit-btn{
  margin:auto;
  width: 120px;
  font-size: 11px;
}
#sign-up-css{
color: white !important;
border-color: #4a596d;
width: 150px;
font-size: 11px;
} */

/* #sign-up-css:hover{
color: white;
background-color: #4a596d !important;
border-color: white;
} */

.login-form-btn{
  background-color: #1da1dd;
  border: none;
  padding: 8px;
  width: 200px;
  color: white;
  border-radius: 5px;
  font-size: 11px;
  margin: 2px;
}
.login-form-btn:hover{
  color: white;
background-color: #4a596d !important;
border-color: white;
border: solid;
cursor: pointer;
}

.sign-up-css{
  background-color: rgba(44, 55, 70, 0.612);
  padding: 19px;
  border-style: solid;
  border-color: #a6ddf6e4;
  border-radius: 20px;
  box-shadow: #00fbff 0px 5px 15px;
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  width: 100vh;
  margin: 20px auto 20px auto;
  height:100vh
  }